/*Margen entre menu y pagina*/
* {
    cursor: default;
}

.main {
    padding-top: 7.2rem;
}

.subtitulo {
    color: rgb(0, 7, 70);
    font-size: 2rem;
    margin-bottom: 25px;
}

p {
    margin-bottom: 1.6em;
    font-size: 16px;
    line-height: 1.5rem;
    text-align: justify;
}

.img01 {
    width: 250px;
    padding-left: 4rem;
}

@media only screen and (max-width: 860px) {
    
    .container h1 {
        text-align: center;
    }
    
    .img01 {
        display: none;
    }
}
